<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to the Addams Family Accomodation</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Reservations</h1>
			<table>
				<thead>
				<tr>
					<th>Booking Reference</th>
					<th>Reservation Name</th>
					<th>Reservation Date</th>
					<th>Guests</th>
					<th>Special Requests</th>
				</tr>
				</thead>
				<tbody>
					{% for reservation in reservation_data %}
						<tr>
							<td>{{reservation.booking_id}}</td>
							<td>{{reservation.reservation_name}}</td>
							<td>{{reservation.reservation_date}}</td>
							<td>{{reservation.guests}}</td>
							<td>{{reservation.nice_to_have}}</td>
							<td>
							<a href="/delete/{{ reservation.booking_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
