{% extends 'layout.html' %}

{% block title %}Reservations{% endblock %}

{% block content %}
	<div class="booking">
		<h1>Reservations</h1>
		<table>
			<thead>
			<tr>
				<th>Booking Reference</th>
				<th>Reservation Name</th>
				<th>Reservation Date</th>
				<th>Accomodation</th>
				<th>Guests</th>
				<th>Special Requests</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
				{% for reservation in reservation_data %}
					<tr>
						<td>{{reservation.booking_id}}</td>
						<td>{{reservation.reservation_name}}</td>
						<td>{{reservation.reservation_date}}</td>
						<td>{{reservation.accomodation}}</td>
						<td>{{reservation.guests}}</td>
						<td>{{reservation.nice_to_have}}</td>
						<td>
						<a href="/delete/{{ reservation.booking_id }}" class="fa fa-ban" onclick="return confirm('Are You Sure For Delete?')"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
